#background-video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 100%;
        }

html {
    height: 100%;
}

body {
    padding : 0;
    margin: 0;
    color: white;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: inline-block;
    margin-left: 20px;
    
}

nav ul {
    list-style-type: none;
    display: table;
    text-align: center;
}

nav ul li {
    padding-left: 10px;
    margin-left: 75%;
    display: table-cell;
    width: 1%;
    padding: 20PX;
    
}

nav {
    text-align: center;
    display: flex;
    top: 0;
    align-items: center;
    width: 100%;
    /* background-color: grey; */
    justify-content: center;
    
}



nav .profile img {
	width: 60px;
	height: 60px;   
    margin-left: 30px;
}
nav .profile li  {
    list-style-type: none;
}



nav .inscription img {
	width: 60px;
	height: 60px;
    margin-right: 20px;
    border-radius: 75%;
    margin-left: 20px;
}

nav .inscription li  {
    list-style-type: none;
}

footer {
    text-align: center;
    padding-bottom: 15%;
}
    
#bottom {
    padding-bottom: 50%;
    padding-top: 15%;
    margin-left: 20px;
}

.iconpack1 {
    float: left;
    margin: 0 10px 10px 0;
}
.iconpack1 img {
    width : 500px;
    height : 500px;
    margin: 50px;
    border-radius: 50px;
}

nav ul li .animation-border + .animation-border {
        border-left: 1px solid #aaa;
      }
      
nav ul li .animation-border::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    border-bottom: white;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: .3s ease-in-out;
}
      
nav ul li .animation-border:hover::after {
    transform: scaleX(1);
    border-color: white;
    border-bottom: 1px solid white;
}


/* nav {
    background-color: rgb(44, 43, 43);
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

nav .profile {
    display: flex;
    text-align: center;
    margin: 5px;
}

nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 75%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    width: 100%;
}

nav ul li {
    margin: 20px;
    cursor: pointer;
    border-left: 1px solid grey;
    padding-left: 10px;
}

nav ul img {
    width: 20px;
	height: 20px;
    border-radius: 75%;
    float: right;
}

nav ul li a {
    text-decoration: none;
    color: white;
} */



