#background-video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 100%;
        }

html {
    height: 100%;
}

body {
    padding : 0;
    margin: 0;
    color: white;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: inline-block;
    margin-left: 20px;
    
}

nav ul {
    list-style-type: none;
    display: table;
    text-align: center;
}

nav ul li {
    padding-left: 10px;
    margin-left: 75%;
    display: table-cell;
    width: 1%;
    padding: 20PX;
    
    
}

nav {
    text-align: center;
    display: flex;
    top: 0;
    align-items: center;
    width: 100%;
    /* background-color: grey; */
    justify-content: center;
    
}

nav ul li:hover {
    border-bottom: 1px solid white;
}

nav .profile img {
	width: 60px;
	height: 60px;   
    margin-left: 30px;
}
nav .profile li  {
    list-style-type: none;
}



nav .inscription img {
	width: 60px;
	height: 60px;
    margin-right: 20px;
    border-radius: 75%;
    margin-left: 20px;
}

nav .inscription li  {
    list-style-type: none;
}

footer {
    text-align: center;
    padding-top: 75%;
    padding-bottom: 15%;
}
    
#bottom {
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
}

.iconpack1 {
    margin: 0 10px 10px 0;
    
}
.iconpack1 img {
    width : 500px;
    height : 500px;
    margin: 50px;
    border-radius: 50px;
}

[class*="editingpack"] img {
    width : 250px;
    height : 250px;
}


[class*="icon-"] {
    opacity: 0;
    transform: translateX(30px);
}

.icon1-visible {
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(.98, 0, 0, 1);
}

.icon-1 {
    transition-delay: .1s;
}

.icon-2 {
    transition-delay: .2s;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');
#h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}

#title-right {
    display: inline-block;
    padding-top: 20%;
    font-size: 20px;
}

 #pack2 {
    float: right;
}  

#home {
    float: left;

}

.test {
    margin-right: 20%;
}
.icon1 {
    display: inline-block;
}

ul .button {
    border-bottom: 10px solid white;
    display: block;
}
.title {
    text-align: center;
    font-size: 50px;
}
.icon-2 {
    display: inline-block;
}
.button {
    margin: 0 auto;
    width: 20%;
    border-bottom-color: currentColor;
    border-radius: 20px;
    padding-right: 45px;
    background-color: transparent;
}

.reseaux-sociaux img {
    width: 15px;
    height: 15px;
    padding-top: 20px;
    align-items: center;
    opacity: 50%;
}

label {
    font-size: 20px;
}

/* Anim Editing pack, pack et écriture*/ 
[class*="icon2-"] {
    opacity: 0;
    transform: translateY(30px);
}

.icon2-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s  cubic-bezier(0.47, 0, 0.745, 0.715)
}

.icon2-1 {
    transition-delay: .1s;
}

.icon2-2 {
    transition-delay: .2s;
}


.img img {
    max-width : 40px;
    height : auto;
    opacity: 50%;
    margin-bottom: -15px;
}

.contact #product {
    text-align: center;
    font-size: 20px;
}
.contact .txt-align{
    text-align: center;
}
.title-contact {
    text-align: center;
    font-size: 50px;;
}

.faq {
    text-align: center;
} 

.padding-icon {
    padding-bottom: 20px;
}

#videopreview {
    height: 80%;
    width: auto;
    padding-left: 40px;
}

.title-pack1caracteristic {
    text-align: center;
    font-size: 60px;
}
/* .title span {
    display: inline-block;
    overflow: hidden;
    line-height: 0.8;
}

.title span span {
    animation: titleReveal .7s both;
    display: block;
}

@keyframes titleReveal {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    max-width: 320px;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}

.title strong {
    font-weight: bold;
}

.page-absolute {
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
    opacity: .5;
} */
/* nav ul li .animation-border + .animation-border {
        border-left: 1px solid #aaa;
      }
      
nav ul li .animation-border::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    border-bottom: white;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: .3s ease-in-out;
}
      
nav ul li .animation-border:hover::after {
    transform: scaleX(1);
    border-color: white;
    border-bottom: 1px solid white;
} */


/* nav {
    background-color: rgb(44, 43, 43);
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

nav .profile {
    display: flex;
    text-align: center;
    margin: 5px;
}

nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 75%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    width: 100%;
}

nav ul li {
    margin: 20px;
    cursor: pointer;
    border-left: 1px solid grey;
    padding-left: 10px;
}

nav ul img {
    width: 20px;
	height: 20px;
    border-radius: 75%;
    float: right;
}

nav ul li a {
    text-decoration: none;
    color: white;
} */



